<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Meet the fellas:</div>
                <div class="panel-body rule-box">
                    <p>
                        Hi All, We are here for enjoying and learning. You can find our bio below:
                    </p>
                    <div class="bio col-lg-11">
                        <div class="col-lg-2 pad-2x">
                            <img class="user-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/160611-200.png"></div>
                        <div class="col-lg-7 user-bio">
                            this is your bio
                        </div>
                    </div>
                    <div class="bio col-lg-11">
                        <div class="col-lg-2 pad-2x">
                            <img class="user-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/160611-200.png"></div>
                        <div class="col-lg-7 user-bio">
                            this is your bio
                        </div>
                    </div>
                    <div class="bio col-lg-11">
                        <div class="col-lg-2 pad-2x">
                            <img class="user-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/160611-200.png">
                        </div>
                        <div class="col-lg-7 user-bio">
                            this is your bio
                        </div>
                    </div>
                    <div class="bio bio-last col-lg-11">
                        <div class="col-lg-2 pad-2x">
                            <img class="user-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/160611-200.png">
                        </div>
                        <div class="col-lg-7 user-bio">
                            this is your bio
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>