<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Good Fellas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="
https://lh6.googleusercontent.com/-AAIBIzRCqIA/VnRPtTokXTI/AAAAAAAAJVg/h_e7yYlRwLgWeWPgEvWbw9HslFojV5tpQCL0B/s593-no/IMG-20151009-WA0006.jpg" class="img-responsive img-circle" alt="">
                    <h4>Brij Kishor</h4>
                    <!--<p class="text-muted">Lead Designer</p>-->
                    <ul class="list-inline social-buttons">
                        <li><a href=" https://twitter.com/brijsharma_"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/brij.sharma.9"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://in.linkedin.com/in/kishorsharma"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../assets/img/team/rohit.jpg" class="img-responsive img-circle" alt="">
                    <h4>Rohit Bishnoi</h4>
                    <!--<p class="text-muted">Lead Marketer</p>-->
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/rbdharnia"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/rbdharnia"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/rohitbishnoi"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="../assets/img/team/manish.jpg" class="img-responsive img-circle" alt="">
                    <h4>Manish Kapoor</h4>
                    <!--<p class="text-muted">Lead Developer</p>-->
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/manishkapoor_89"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/manishkapoor1989"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/manish-kapoor-0ab32777"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>