
<div class="container" style="margin-top: 110px;">
    <div class="row">
        <div class="col-md2"></div>
        <div class="col-md8">
            <div class="panel panel-default">
                <div class="panel-heading">We owe special thanks to you for the provided resources</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="http://blackrockdigital.github.io/startbootstrap-agency/" target="_blank" class="list-group-item">http://blackrockdigital.github.io/startbootstrap-agency/</a>
                        <a href="https://plus.google.com/115251440952609627054/about" target="_blank" class="list-group-item">https://plus.google.com/115251440952609627054/about</a>
                        <a href="http://www.wikihow.com/Play-Snakes-and-Ladders" target="_blank" class="list-group-item">http://www.wikihow.com/Play-Snakes-and-Ladders</a>
                        <a href="https://www.pinterest.com/pin/401031541790884440" target="_blank" class="list-group-item">https://www.pinterest.com/pin/401031541790884440</a>
                        <a href="https://www.google.com/fonts/specimen/Kaushan+Script" target="_blank" class="list-group-item">https://www.google.com/fonts/specimen/Kaushan+Script</a>
                        <a href="http://i.makeagif.com/media/10-02-2015/fY8D-g.gif" target="_blank" class="list-group-item">http://i.makeagif.com/media/10-02-2015/fY8D-g.gif</a>
                        <a href="http://gurmeet.net/puzzles/tossing-with-one-third-probability/" target="_blank" class="list-group-item">http://gurmeet.net/puzzles/tossing-with-one-third-probability/</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




