<header>
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Add Players</div>
                            <div class="panel-body player-box">
                                <div class="col-lg-8">
                                    <div class="alert alert-info" role="alert" *ngIf="gameEngineService.players.length < 5"> Minimum 2 players are required to play.</div>
                                    <div class="alert alert-danger" role="alert" *ngIf="gameEngineService.players.length == 5">Maximum player limit reached.</div>
                                    <form class="form">
                                        <div class="form-group">
                                            <label for="playerName">Player Name</label>
                                            <input type="text" [(ngModel)]="playerName" class="form-control" id="playerName" placeholder="Player Name">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-default" (click)="addPlayer()" [disabled]="!(gameEngineService.players.length < 5)">Add Player</button>
                                            <a class="btn btn-success" [routerLink]="['/board']"
                                               (click) = "gameEngineService.isGameInProgress = true; gameEngineService.currentMenu='board'"
                                               *ngIf="gameEngineService.players.length > 1"> Play </a>
                                        </div>
                                    </form>
                                    <!--<div>-->
                                        <!--<a class="btn btn-success" [routerLink]="['/board']" [class.disabled]="!(gameEngineService.players.length > 1)">Play</a>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-group">
                                        <li class="list-group-item text-center" *ngIf="gameEngineService.players.length > 0">
                                           <strong>Player Names</strong>
                                        </li>
                                        <li class="list-group-item" *ngFor="let player of gameEngineService.players">
                                            <span class="fa {{player.displayImage}}"></span> {{player.username}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</header>