<div class="container">
    <div class="row">
        <div class="col-md-6">
            This is Place for rules:
            <ul>
                <li>RUle 1</li>
                <li>Rule 2</li>
                <li>Rule 3</li>
                <li>Rule 4</li>
            </ul>
        </div>

        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="playerName" class="col-sm-4 control-label">Player Name</label>
                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="playerName" class="form-control" id="playerName" placeholder="Player Name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4"> </div>
                    <div class="col-sm-8">
                        <button class="btn btn-default" (click)="addPlayer()">Add Player</button>
                    </div>
                </div>
            </form>

            <ul>
                <li *ngFor="let player of gameEngineService.players">
                    {{player.username}}
                </li>
            </ul>

        </div>
    </div>
</div>