<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Rules</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/snl.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Understand the object of the game.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    The object of the game is to be the first player to reach the end by moving across the board from square one to the final square.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/coin-toss.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Who goes first?
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    System will decide who goes first.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/rolling-dice.gif" style="padding-top:40px;padding-left:40px" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Roll the die and move.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Role the dice by clicking on the roll the dice button and system will move your position marker to the appropriate place according to the number shown on the dice.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/ladder.jpeg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Climb up ladders.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    The ladders on the game board allow you to move upwards and get ahead faster. If you land exactly on a square that shows an image of the bottom of a ladder, then system will move your position marker all the way up to the square at the top of the ladder.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/snake.jpeg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Slide down snakes.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Game also have snakes on the board. Snakes move you back on the board because you have to slide down them.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/six.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Take an extra turn if you roll a six.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    If you roll a six, then you get an extra turn. First, system will move your position marker forward six squares and then you are allowed to roll the die again. If you land on any snakes or ladders, follow the instructions above to move up or down and then roll again to take your extra turn. As long as you keep rolling sixes, you can keep moving.                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../assets/images/win.jpeg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">
                                    Land exactly on the last square to win.
                                </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    The first person to reach the highest square on the board wins. But there's a twist! If you roll too high, your piece "bounces" off the last square and moves back. You can only win by rolling the exact number needed to land on the last square.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be the
                                <br>WINNER!!!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>